.card-grid {
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 3px;
}

.card-img img {
  width: 100%;
  margin-bottom: 10px;
}

.card-left {
  padding-right: 15px;
  text-align: center;
  margin: 0 auto;
}

.card-left p {
  line-height: 1.2;
  margin: 0 0 10px;
}

.flex-col {
  height: 100%;
}

.equal {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
}

.panel {
  height: calc(100% - 20px);
  background-image: linear-gradient(to bottom, #ffffff 0%, #9cb7c2 100%);
  margin: 0 auto;
}

@media(max-width:991px){
  .panel {
    max-width: 480px;
  }
}

.panel-body {
  padding: 15px;
}

.panel-primary > .panel-heading {
  background-image: linear-gradient(to bottom, #33b2b7 0%, #318d9c 100%);
  border-color: #33b2b7;
}