
.event {
  height: 100%;
}

.event-header p {
  text-align: center;
}

.event-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

.event-col {
  padding-bottom: 24px;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
}

.event-description {
  flex-grow: 1;
}

.event-info {
  margin-bottom: 0;
}
