.header {
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

.header > .container {
    display: flex;
    justify-content: center;
}

.navlinks {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#surf-logo-link {
}

#surf-logo {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 80px;
}

.nav {
    align-self: center;
    position: absolute;
    right: 100px;
}

.nav a {
    color: white;
}

.navlinks > li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.navlinks > li > a {
    color: #32c7ff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}