body {
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    background-color: #32c7ff;
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    overflow: hidden;
}

html {
  margin: 0;
  height: 100%;
}


h2 {
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  line-height: 1.04;
}

p {
  margin-bottom: 0;
}

@media(max-width:767px){
  .section-inner p {
    font-size: 16px;
  }
}

@media(min-width:768px){
  .section-inner p {
    font-size: 19px;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}


@media(min-width:992px){
  .well-image {
    padding: 0 6px 0 0;
  }

  .well-details-text {
    height: 100%;
  }
}

@media(max-width:991px){
  .well-image {
    margin-bottom: 10px;
  }
}

.well-image img {
  max-width: 100%;
}

nav.navbar {
  margin-bottom: 0;
}

.content {
  width: 100vw;
  height: calc(100vh - 51px);
  background: url('../images/port_landscape.jpg') no-repeat fixed;
  background-size: cover;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.center {
  text-align: center;
  margin-top: 10%;
}

.container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content .container {
  background: rgba(255,255,255,0.9) none;
  max-width: 1120px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
}

.content .container.thin {
  max-width: 980px;
}

.section-inner {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section-inner p {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.section-inner p.sub-header {
  font-weight: 600;
}

.section-inner p.no-justify {
  text-align: left;
}

.separator {
  width: 60%;
  border-top: 1px solid #B5B5B5;
}

.separator.no-top {
  margin-top: 0;
}

.section-inner .article-main-media {
  max-width: 80%;
  max-height: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.well.custom {
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #84d2fc 0%, #e7e7e7 100%);
  display: flex;
  flex-direction: column;
}

.well-details-text {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}