.next-trip {
  background-image: linear-gradient(to bottom, #84d2fc 0%, #e7e7e7 100%);
}

.next-trip-col {
  padding-left: 30px;
  padding-right: 30px;
}

/*.next-trip .well-image img {*/
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
/*}*/

.section-inner > .header {
    text-align: center;
}

.hype {
  display: flex;
}

.hype-text {
  margin-right: 6px;
}

.hype-bar {
  flex-grow: 1;
}

.progress-bar {
  font-size: 13px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img#next-trip {
  display: inherit;
  vertical-align: middle;
}

