.next-trip {
  background-image: linear-gradient(to bottom, #84d2fc 0%, #e7e7e7 100%);
}

.next-trip-col {
  padding-left: 30px;
  padding-right: 30px;
}

.next-trip.well.custom {
  margin-top: 12px;
}

.next-trip-descr {
  line-height: 1.3;
}

.section-inner > .header {
    text-align: center;
}

.hype {
  display: flex;
}

.hype-text {
  margin-right: 6px;
}

.hype-bar {
  flex-grow: 1;
}

.progress-bar {
  font-size: 13px;
}

img#next-trip {
  display: inherit;
  vertical-align: middle;
}

.well-details-text p {
  margin-bottom: 6px;
}

